# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<style>
  #content.main-container {
    padding: 0px !important;
  }
</style>
<main id="eol-about" aria-label="Content" tabindex="-1" class="static_pages eol-bg w-100 mx-auto mt-0 pt-0" style="background-image: url(${static.url('eol-uchile-2020/images/bg-eol.png')});">
    <div class="container eol-content-container px-2 pt-2 mx-auto">
        <div class="row">
            <div class="col-lg-8 px-4 text-justify">
                <h1 class="mb-4 text-left">${_("What is EOL?")}</h1>
                <p>${_("EOL is the Online Education platform of the Universidad de Chile, administered by Online Education Office of the Information Technologies Vicepresidency. This Office leads the development of technical and human capacities as well as new technologies for education, in order to respond to the needs and particularities of university organizations and academic units linked to teaching.")}</p>
                <p>${_("The Online Education Office seeks to contribute to improving the teaching-learning process for all educational levels: undergraduate, graduate and long-life education, by providing a Learning Management System (LMS), as well as support in instructional design for online education and in the production of courses in this format.")}</p>
                <p>${_("The LMS platform that EOL provides is based on the open source project")} <a href="https://open.edx.org/" target="_blank">Open edX</a>, ${_("initially developed by Harvard University and MIT for conducting Massive Open Online Course (MOOC). This feature makes it stable and scalable to support tens of thousands of users. This platform has been implemented and configured specifically for the management of University courses, most of them are private with a limited group of students. For this, components have been developed to give a better management of learning under these conditions.")}</p>
                <p>${_("We currently have an integration with")} <a href="https://mi.uchile.cl/" target="_blank">${_("UChile Passport")}</a> ${_("that provides access to all University services, and with the teaching support platform")} <a href="https://www.u-cursos.cl/" target="_blank">U-Cursos</a>, ${_("powered by")} <a href="https://ucampus.cl/" target="_blank">${_("Centro UCampus")}</a>. ${_("Additionally, EOL is integrated with other platforms and services, such as")} <a href="https://claveunica.gob.cl/" target="_blank">${_("Clave Única")}</a>, <a href="https://www.google.com/intl/es-419_cl/docs/about/" target="_blank">${_("Google Docs")}</a>, <a href="https://www.youtube.com/" target="_blank">${_("YouTube")}</a>, <a href="https://zoom.uchile.cl/" target="_blank">${_("Zoom")}</a>, <a href="https://www2.sence.gob.cl/" target="_blank">${_("Sence")}</a>, ${_("among others.")}</p>
            </div>
            <div class="col-lg-4 d-none d-lg-block pl-5 my-auto">
                <img src="${static.url('eol-uchile-2020/images/pages/about_image.jpg')}" class="img-fluid" alt="image"/>
            </div>
        </div>
    </div>
</main>
