# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%!
  from django.utils.translation import ugettext as _
  from openedx.core.djangoapps.theming import helpers as theming_helpers
%>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>
<style>
  #content.main-container {
    padding: 0px !important;
  }
</style>
<main id="eol-faqs" aria-label="Content" tabindex="-1" class="static_pages eol-bg w-100 mx-auto mt-0 pt-0" style="background-image: url(${static.url(theming_helpers.get_current_site_theme().theme_dir_name+'/images/bg-eol.png')});">
    <div class="container eol-content-container px-2 pt-2 mx-auto">
        <div class="row">
            <div class="col-lg-4 d-none d-lg-block pr-5 my-auto">
                <img src="${static.url(theming_helpers.get_current_site_theme().theme_dir_name+'/images/pages/faqs_image.jpg')}" class="img-fluid" alt="image"/>
            </div>
            <div class="col-lg-8 px-4">
                <h1 class="text-left">${_("Frequently Asked Questions")}</h1>
                <div class="accordion text-justify mt-4" id="accordionFAQS">
                    <div class="card">
                        <div class="card-header" id="faq1" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                            <p class="mb-0">
                                ${_("What courses can I find in EOL?")}
                            </p>
                        </div>
                        <div id="collapse1" class="collapse" aria-labelledby="faq1" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("The platform of Online Education hosts undergraduate courses, postgraduate courses, professional and long-life education, as well as open courses of Universidad de Chile.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <p class="mb-0">
                                ${_("Who can take courses on the EOL platform?")}
                            </p>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="faq2" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("The platform is focused on UChile students. Undergraduate and postgraduate courses are taught to regular students from the university, meanwhile continuing education and diplomas manage enrollment directly with the respective academic unit. On each course description a contact email is provided and it’s stated to whom the course is directed.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq3" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <p class="mb-0">
                                ${_("I'm a graduate student and I'm interested in a course on the platform, what are the steps to enroll?")}
                            </p>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="faq3" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("In the description of each course, a contact email is indicated to register for future versions of the course.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq4" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            <p class="mb-0">
                                ${_("How much do the courses cost?")}
                            </p>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="faq4" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Undergraduate and graduate courses are free for students at the University.")}<br>${_("Professional education and other courses have different values ​​depending on the program. Information of enrolling and cost in the course description.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq5" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            <p class="mb-0">
                                ${_("How can I register on the EOL platform?")}
                            </p>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="faq5" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Students are registered on the platform by the Academic teams of each course.")}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faq6" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse5">
                            <p class="mb-0">
                                ${_("I'm a teacher at the Universidad de Chile and I want to take an online course. What do I have to do?")}
                            </p>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="faq6" data-parent="#accordionFAQS">
                            <div class="card-body">
                                ${_("Contact us by email")} <a href="mailto:eol@uchile.cl" target="_top">eol@uchile.cl</a> ${_("or through")} <a href="/contact_form">${_("EOL Helpdesk")}</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
