# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<style>
  #content.main-container {
    padding: 0px !important;
    margin: 0px !important;
  }
</style>
<main id="eol-about" aria-label="Content" tabindex="-1" class="static_pages eol-bg w-100 mx-auto mt-0 pt-0" style="background-image: url(${static.url('eol-uchile-2020/images/bg-eol.png')});">
    <div class="container eol-content-container px-2 pt-2 mx-auto">
        <div class="row">
            <div class="px-4 text-justify bg-white">
                <h1 class="mb-4 text-left">${_("Privacy Policy")}</h1>
                <h2 class="mb-4 text-left">${_("Cookies")}</h2>
                <p>${_("This website uses cookies, which are small data files that are generated in your browser. It sends information without providing references that allows our systems to deduct personal data from it.")}</p>
                <h2 class="mb-4 text-left">${_("Personal data protection policy")}</h2>
                <p>${_("To use some services or access some contents, you must first provide certain personal data, which will only be used for the purpose for which they were collected.")}</p>
                <p>${_("The information you might be required to disclose comprises, as stated but not limited to, name, email address, date of birth, gender, occupation, country and city of origin, personal interests, among others. Not all information is mandatory to sign up and participate on the platform, if it is you will be informed.")}</p>
                <h2 class="mb-4 text-left">${_("Privacy policy of external sources")}</h2>
                <p>${_("If you are the host of a live broadcast, this website may use the YouTube API to obtain your account information and activate the features, not saving any personal data received from them other than the access keys to control the transmissions.")}</p>
                <p>${_("This website uses Google Analytics to aggregate anonymized user information.")}</p>
                <p>${_("External privacy policies can be found in:")} http://www.google.com/intl/es_ALL/privacypolicy.html</p>
                <h2 class="mb-4 text-left">${_("As a general principle, this website does not share nor disclose information obtained, except when authorized by you, or in the following cases")}</h2>
                <p>${_("a) When it’s required by a competent authority and with prior compliance with the corresponding legal process and   b) When in the opinion of this website it is necessary to enforce the Terms of Use, or to safeguard the integrity of other users or the website.")}</p>
                <p>${_("You should be aware that if you voluntarily disclose information online in a public area, that information might be collected and used by others. We do not control the actions of our visitors and users.")}</p>
                <h2 class="mb-4 text-left">${_("Responsible conduct")}</h2>
                <p>${_("All information provided must be truthful. For these purposes, you guarantee the authenticity of all the data that you communicate because of filling in the necessary forms to subscribe to the Services, access to content or restricted areas of the site. In any case, you will be solely responsible for any false or inaccurate statements and for the damages caused to this website or to third parties due to the information you provide.")}</p>
                <p>${_("You agree to act responsibly on this website and to treat other visitors with respect.")}</p>
            </div>
        </div>
    </div>
</main>
