# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<style>
  #content.main-container {
    padding: 0px !important;
    margin: 0px !important;
  }
</style>
<main id="eol-about" aria-label="Content" tabindex="-1" class="static_pages eol-bg w-100 mx-auto mt-0 pt-0" style="background-image: url(${static.url('eol-uchile-2020/images/bg-eol.png')});">
    <div class="container eol-content-container px-2 pt-2 mx-auto">
        <div class="row">
            <div class="px-4 text-justify bg-white">
                <h1 class="mb-4 text-left">${_("Politica de Privacidad")}</h1>
                <h2 class="mb-4 text-left">${_("Galletas o Cookies")}</h2>
                <p>${_("Este sitio hace uso de cookies, el cual son pequeños archivos de datos que se generan en su navegador, este envía información sin proporcionar referencias que permitan deducir datos personales de este.")}</p>
                <h2 class="mb-4 text-left">${_("Política De Protección De Datos Personales")}</h2>
                <p>${_("Para utilizar algunos de los servicios o acceder a determinados contenidos, deberá proporcionar previamente ciertos datos de carácter personal, que solo serán utilizados para el propósito que fueron recopilados.")}</p>
                <p>${_("El tipo de la posible Información que se le sea solicitada incluye, de manera enunciativa mas no limitativa, su nombre, dirección de correo electrónico (e-mail), fecha de nacimiento, sexo, ocupación, país y ciudad de origen e intereses personales, entre otros, no toda la Información solicitada al momento de participar en el sitio es obligatoria de proporcionarse, salvo aquella que consideremos requerida y que así se le haga saber.")}</p>
                <h2 class="mb-4 text-left">${_("Política De Privacidad De Fuentes Externas")}</h2>
                <p>${_("Si eres el anfitrión de una transmisión en vivo, este sitio puede utilizar YouTube API para obtener información de tu cuenta y activar las características, no guardando ningún dato personal recibidos de estas más que las llaves de acceso para controlar las transmisiones.")}</p>
                <p>${_("Este sitio utiliza Google Analytics para agregar información anonimizada de los usuarios.")}</p>
                <p>${_("Las políticas de privacidad externas pueden encontrarse en:")} http://www.google.com/intl/es_ALL/privacypolicy.html</p>
                <h2 class="mb-4 text-left">${_("Como principio general, este sitio no comparte ni revela información obtenida, excepto cuando haya sido autorizada por usted, o en los siguientes casos")}</h2>
                <p>${_("a) Cuando le sea requerido por una autoridad competente y previo el cumplimiento del trámite legal correspondiente y b) Cuando a juicio de este sitio sea necesario para hacer cumplir las condiciones de uso y demás términos de esta página, o para salvaguardar la integridad de los demás usuarios o del sitio.")}</p>
                <p>${_("Deberá estar consciente de que si usted voluntariamente revela información personal en línea en un área publica, esa información puede ser recogida y usada por otros. Nosotros no controlamos las acciones de nuestros visitantes y usuarios.")}</p>
                <h2 class="mb-4 text-left">${_("Conducta Responsable")}</h2>
                <p>${_("Toda la información que facilite deberá ser veraz. A estos efectos, usted garantiza la autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios necesarios para la suscripción de los Servicios, acceso a contenidos o áreas restringidas del sitio. En todo caso usted será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a este sitio o a terceros por la información que facilite.")}</p>
                <p>${_("Usted se compromete a actuar en forma responsable en este sitio y a tratar a otros visitantes con respeto.")}</p>
            </div>
        </div>
    </div>
</main>
