/* The form-check */
.course-simple-settings .form-check {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .course-simple-settings .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .course-simple-settings .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #b5b5b5;
  }
  
  /* On mouse-over, add a grey background color */
  .course-simple-settings .form-check:hover input ~ .checkmark {
    background-color: #45a9d454;
  }
  
  /* When the checkbox is checked, add a blue background */
  .course-simple-settings .form-check input:checked ~ .checkmark {
    background-color: #009BDD;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .course-simple-settings .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .course-simple-settings .form-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .course-simple-settings .form-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }