.nav-not-signedin-signup {
	display:none !important;
}
.view-signup .content header .action, .view-signin .content header .action, .view-util .content header .action{
	display:none !important;
}
.view-howitworks.not-signedin .content-cta .list-actions .action.action-primary{
	display:none !important;
}
.wrapper-header .branding a img{
	height: 29px ;
	max-height: 29px ;
}

.wrapper-header .branding a img {
    @media (min-width: 1065px) {
        height: 33px ;
        max-height: 33px ;
    }
    @media (min-width: 1320px) {
            height: 40px ;
            max-height: 40px ;
    }
}

.wrapper-header  .wrapper-r {
	background: none !important;
}

/* Location Styles */
.location-footer {
    .location-container {
        position: relative;
        background: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .location-label {
            position: absolute;
            left: 0;
            padding: 8px 10px;
            border-right: 1px solid #ddd;
            z-index: 11;
            font-size: 1.2rem;
            line-height: 1.776rem;
        }
        .location-value {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 10px 5px 90px;
            z-index: 10;
            font-size: .75em;
        }
    }
}
/* End Location Styles */

/* Eol-Vimeo Styles */
.update-vimeo {
    box-sizing: border-box;
    transition: color 0.25s ease-in-out 0s,border-color 0.25s ease-in-out 0s,background 0.25s ease-in-out 0s,box-shadow 0.25s ease-in-out 0s;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    line-height: 1.5em;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20.72px;
    line-height: 2.072rem;
    background: #0075b4;
    border-color: #0075b4;
    color: #fff;
}
.update-vimeo:hover, .update-vimeo:active {
    box-shadow: 0 2px 1px rgb(0 0 0 / 20%);
    background: #065683;
    border-color: #065683;
}
#ui-loading-update {
    padding: 0;
    text-align: left;
}
/* End Eol-Vimeo Styles */

/* Video XBlock Styles */
.xmodule_display.xmodule_VideoBlock .video .video-wrapper .btn-play{
    opacity: 0.7;
}
/* End Video XBlock Styles */
