.nav-not-signedin-signup {
	display:none !important;
}
.view-signup .content header .action, .view-signin .content header .action, .view-util .content header .action{
	display:none !important;
}
.view-howitworks.not-signedin .content-cta .list-actions .action.action-primary{
	display:none !important;
}
.wrapper-header .branding a img{
	height: 35px ;
	max-height: 35px ;
}

.wrapper-header .branding a img {
    @media (min-width: 1065px) {
        height: 40px ;
        max-height: 40px ;
    }
    @media (min-width: 1320px) {
            height: 50px ;
            max-height: 50px ;
    }
}

.wrapper-header  .wrapper-r {
	background: none !important;
}

/* Location Styles */
.location-footer {
    .location-container {
        position: relative;
        background: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .location-label {
            position: absolute;
            left: 0;
            padding: 8px 10px;
            border-right: 1px solid #ddd;
            z-index: 11;
        }
        .location-value {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 10px 5px 90px;
            z-index: 10;
            font-size: .75em;
        }
    }
}
/* End Location Styles */