## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled

  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<footer class="eol-header-container eol-footer border-0 shadow-none mt-auto text-center mx-auto mb-4">
  <div class="row d-flex border-0 shadow-none w-100 px-5">
    <div class="col-12 my-auto pb-4">
      <img src="${static.url('eol-uchile-2020/images/logos/0vti.jpg')}" class="img-fluid mx-auto" alt="VTI" style="max-height: 70px;">
      <a href="https://open.edx.org" style="padding-left: 60px;">
        <img src="https://files.edx.org/openedx-logos/open-edx-logo-tag.png" alt="Con la tecnología de Open edX" width="140">
      </a>
    </div>
  </div>
  <p class="text-center"><small>${_("¿Necesitas Ayuda? Contáctate con la ")}<a href="/contact_form">${_("Mesa de Ayuda de EOL")}</a></small></p>
  <p class="text-center">
    <small class="text-muted">
      ${footer['copyright']}
      </br>
      <a href="https://www.uchile.cl/portal/informacion-general/174996/politica-de-privacidad-de-la-informacion-y-datos-personales" target="_blank">${_("Política de privacidad")}</a>
      % if icp_license_info.get('icp_license'):
        ${u" | {text}".format(text=icp_license_info.get('text'))}
        <a href="${icp_license_info.get('icp_license_link', '#')}">
            ${u" {icp}".format(icp=icp_license_info.get('icp_license'))}
        </a>
      % endif
    </small>
  </p>
</footer>

% if context.get('include_language_selector', footer_language_selector_is_enabled()):
    <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
% endif

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
